.text {
  width: 650px;
  margin: 0 auto;
  margin-top: 100px;
  line-height: 1.7;
  color: var(--color-yellow);
  font-size: 35px;
  text-shadow: 0 0 2px var(--color-white);
  text-align: center;
  position: relative;
  -webkit-text-stroke-color: var(--color-yellow);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-fill-color: transparent;
}

.text::after {
  content: url('oops.png');
  position: absolute;
  right: 15px;
  text-align: center;
  box-shadow: 5px 8px 10px #7a78509d;
}
