.button {
  min-width: 100px;
  font-size: var(--font-size-small);
  padding: 10px;
  border-radius: 3px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  margin: 5px;
  font-weight: 600;
  background: none;
  outline: none;
  transition: var(--transition);
  cursor: pointer;
}

.button:disabled,
.button:disabled:hover {
  color: var(--color-grey);
  border-color: var(--color-grey);
  cursor: auto;
  background: transparent;
}

.dark {
  border: 1px solid var(--color-white);
  color: var(--color-white);
}

.dark:hover {
  background-color: var(--color-white);
  color: var(--color-black);
}

.light {
  border: 1px solid var(--color-black);
  color: var(--color-black);
}

.light:hover {
  background-color: 1px solid var(--color-black);
  color: var(--color-white);
}
